/* @font-face {
    font-family: 'Jacquarda Bastarda 9';
    src: url(JacquardaBastarda9-Regular.ttf);
    font-style: normal;
} */

@font-face {
    font-family: 'Micro 5';
    src: url(Micro5-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'throwupz';
    src: url(throwupz.ttf);
}

@font-face {
    font-family: 'urban';
    src: url(Urban\ Calligraphy.ttf);
}